* {
    background-color: lightblue;
}

.header {
    text-align: center;
    background-color: blue;
    width: auto;
    height: 160px;
    position: relative;
}

.answer {
    background-color: white;
    width: 100%;
    height: 22%;
    font-size: 160px;
    font-family: Sans-Serif;
    border: none;

}

.eqbox {
    width: 100px;
    height: 180px;
    text-align: center;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    margin-right: 5%;
    font-size: 20px;
    /*position: relative;*/
}

.top {
    position: relative;
    float: inherit;
    background-color: white;
    margin-top: 25px;
}

.bot {
    position: relative;
    float: inherit;
    background-color: white;
}

h5 {
    margin-top: 0;
    margin-bottom: 0;
    background-color: white;
    /*position: fixed;*/
}

table.prob {
    font-family: Sans-Serif;
    font-size: 160px;
    text-align: right;
    border-bottom: solid;
    margin: auto;
    background-color: white;
}
td {
    background-color: white;

}

.bigEq {
    width: 30%;
    height: 600px;
    text-align: center;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    margin-left: 35%;
    font-size: 80%;
    /*position: relative;*/
}
.kpscr {
    font-size: 20px;
    background-color: white;
}
.navBar, .views {
    /*display: inline;*/
    list-style-type: none;
    /*margin: 0;*/
    /*padding: 40px;*/
    /*overflow: hidden;*/
    /*background-color: #dddddd;*/
}
.navList {
    margin-top: .7%;
    margin-right: 5px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;

}
.scores {
    font-family: Sans-Serif;
    font-size: 100px;
    text-align: center;
    color: green;
    margin: auto;
    background-color: white;
}

.loginBox {
    margin-top: 30px;
    background-color: blue;
}

.loginLogo {
    height: 450px;
    width: 450px;
    /*margin-top: 5%;*/
    margin-left: 40%;

}
.loginLogo2 {
    height: 200px;
    width: 230px;
    display: block;
    margin-top: 10%;
    margin-left: 15%;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);

}
.loginLogo3 {
    margin-left: 70%;
    height: 250px;
    width: 250px;
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);

}
.loginLogo4 {
    float:right;
    position: relative;
    margin-right: 9%;
    margin-top: -7%;
    height: 250px;
    width: 250px;
    /*display: inline;*/
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
    border-radius: 200px;
}
.loginLogo5 {
    margin-right: 55%;
    height: 250px;
    width: 250px;
    display: inline;
    -ms-transform: rotate(12deg); /* IE 9 */
    -webkit-transform: rotate(12deg); /* Chrome, Safari, Opera */
    transform: rotate(12deg);
}
