<div class="mainCont">
    <div class="header">
        <h1>MATH-A-PALOOZA!</h1>
        <h3>Math practice</h3>
        <div class="">
            Today's Date: {{currentDate | date: "fullDate"}}
        </div>
        <ul class="navBar">
            <li class="navList"><a ng-click="logout()">Log Out</a></li>
            <li class="navList"><a ui-sref="admin">Admin</a></li>
            <li class="navList"><a ui-sref="scores">Scores</a></li>
            <li class="navList"><a ui-sref="home">Home</a></li>
        </ul>
    </div>

</div>
<user-dir></user-dir>
