<div class="mainCont">
    <div class="header">
        <h1>Math World</h1>
        <h3>Math practice</h3>
        <div class="loginBox">
            <input type="text" ng-model="loginUser.username" name="username">Username
            <input type="text" ng-model="loginUser.password" name="password">Password
            <button ng-click="login()">Login</button>
            <a ui-sref="createUser">Create User</a>
        </div>
        <img class="loginLogo2" src="./../../images/mathPic.png" />
        <img class="loginLogo4" src="./../../images/Achievement Award.Alex.jpg" />

        <div class="loginLogo">
            <img src="./../../images/logo1.svg" />
        </div>

        <img class="loginLogo5" src="./../../images/lined-paper.gif" />
        <img class="loginLogo3" src="./../../images/logo3.gif" />

    </div>

</div>
